@page "/admin"

@model BookProject.Pages.Admin.IndexModel

@{
}

<!DOCTYPE html>

<html>

<head>
    <title>Book Store Admin</title>
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>
    <component type="typeof(BookProject.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script> 
</body>

</html>