@page
@model BookProject.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Your order has been placed!</h2>
    <a  class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
